.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.container .First {
    height: 100%;
}

.dialog-wrapper {
  position: relative;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  font-size: 23px;
  cursor: pointer;
  z-index: 10;
}

.dialog-header{
    margin-top: 50px;
}

#tab{
background: black;
}
.button-container{
  margin-top: 10px;
  margin-bottom: 10px;
}