<div class="dialog-header">
  <button class="close-button" (click)="dialogRef.close()">✕</button>
</div>
<div class="container">
  <mat-tab-group>
    <mat-tab id="tab" label="Datos Generales"><app-tab-info-general></app-tab-info-general> </mat-tab>
    <mat-tab label="Documentos"> <app-tab-documentos></app-tab-documentos> </mat-tab>
    <mat-tab label="Acciones"> Content 3 </mat-tab>
  </mat-tab-group>

</div>
<div class="button-container">
  <div class="text-center">
    <button color="primary" mat-flat-button (click)="Guardar()" color="primary">
      <mat-icon>check_circle</mat-icon>
      Guardar
    </button>
  </div>
</div>